.input-text {
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
}

.input-text label {
    font-size: 1.2rem;
}

.input-text input[type='text'], .input-text textarea {
    border: none;
    border-bottom: 1px solid var(--light-grey);
    font-size: 1.1rem;
    transition: 0.2s ease-in-out;
    outline: none;
    margin: 0.8rem 0.4rem 0.4rem 0;
    padding: 5px;  
}

.input-text input[type='text']:hover, .input-text textarea:hover {
    border-bottom: 1px solid var(--medium-red);
}